
NetCore OOP Samples/OOP_Test8/.vs/OOP_Test8/v15/Server/sqlite3/storage.ide-shm
NetCore OOP Samples/OOP_Test10_Updated_Test8/.vs/OOP_Test8/v15/Server/sqlite3/storage.ide-wal
NetCore OOP Samples/OOP_Test10_Updated_Test8/.vs/OOP_Test8/v15/Server/sqlite3/storage.ide-shm
NetCore OOP Samples/OOP_Test10_Updated_Test8/.vs/OOP_Test8/v15/Server/sqlite3/storage.ide
NetCore OOP Samples/OOP_Test10_Updated_Test8/.vs/OOP_Test8/v15/Server/sqlite3/db.lock
NetCore OOP Samples/OOP_Test10_Updated_Test8/.vs/OOP_Test8/v15/.suo
